doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MuziK
    link(rel="icon", type="image/svg+xml", href="./img/favicon.svg")
    style#colors
  body
    #app
      #player
        #illustration-wrapper
          #illustration
            #artwork
            a#video(
              href="javascript:window.muzik.showClip();",
              title="View clip"
            )
              include pug/video
            #youtube-player
            iframe#soundcloud-player(
              scrolling="no",
              frameborder="no",
              width="100%",
              allow="autoplay"
            )
        #title
        #artist
        #timeline
          input#timestamp(
            type="range",
            min="1",
            max="100",
            step="1",
            value="0",
            oninput="window.muzik.seek(this.value);",
            onchange="window.muzik.seek(this.value);"
          )
          #time
            #time-current 00:00
            #time-total 00:00
        #controls 
          a#previous.disabled(
            href="javascript:window.muzik.previous();",
            title="previous"
          )
            include pug/previous
          a#play(href="javascript:window.muzik.play();", title="play")
            include pug/play
          a#pause.hide(href="javascript:window.muzik.pause();", title="pause")
            include pug/pause
          a#next(href="javascript:window.muzik.next();", title="next")
            include pug/next
        #utils.hide
          a#playlist(href="#", title="playlist")
            include pug/playlist
          a#repeat(href="#", title="repeat")
            include pug/repeat
          a#repeat1(href="#", title="repeat one")
            include pug/repeat1
          a#shuffle(href="#", title="shuffle")
            include pug/shuffle
          a#share(href="#", title="share")
            include pug/share
          a#volume(href="#", title="volume")
            include pug/volume

    script(src="https://w.soundcloud.com/player/api.js")
    script(src="./js/main.js", type="module")
