doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta#theme-color(name="theme-color", content="#f1f5f9")
    title MuziK
    link(rel="icon", type="image/svg+xml", href="./img/favicon.svg")
    style#colors
  body
    a#help(
      href="https://github.com/gouz/muzik#keyboard-shortcuts",
      target="_blank",
      rel="noopener",
      title="help"
    )
      include pug/icons/help
    #app
      #player
        include pug/artwork
        #title.over
          span
        #artist.over
          span
        include pug/timeline
        include pug/controls
        include pug/utils
        include pug/playlist

    script(src="https://w.soundcloud.com/player/api.js")
    script(src="https://e-cdns-files.dzcdn.net/js/min/dz.js")
    script(src="./js/main.js", type="module")
    script(
      data-name="BMC-Widget",
      data-cfasync="false",
      src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js",
      data-id="gouz",
      data-description="Aidez moi en faisant des dons",
      data-message="Merci pour vos dons, je propose mes outils gratuitement, un petit don fait toujours plaisir.",
      data-color="#40DCA5",
      data-position="Right",
      data-x_margin="18",
      data-y_margin="18"
    )
